.contanier{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #E6DED8;
}

@media(max-width:767px){
    .contanier{
        flex-direction: column;
    }
}  

@media(max-width:992px){
    .contanier img{
        width: 250px;
    }
    .textContanier{
        padding: 0px 25px;
    }
}