.landingDiv {
    position: relative;
    background-image: url("../../../../assets/imges/Section 01.png");
    background-size: cover;
    height: 600px; /* Adjust the height based on your design */
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .divInside {
    text-align: center; /* Align text to the left */
    padding-left: 10%; /* Adjust the left padding based on your design */
  }
  .headerTitle{
    color: white;
    font-weight: 500;
    font-size: 55px;
  }
  .HeaderPargraph{
    color: white;
    font-size: 25px;
    width: 270px;
  }
  .LandingButton{
    color: black;
    background-color: white;
    width: fit-content;
    padding: 10px 65px 10px 65px;
    margin: auto;
  }


@media(max-width:767px){
 .landingDiv{
    height: 300px;
 }   
 .headerTitle{
    font-size: 30px;
 }
 .HeaderPargraph{
    font-size: 15px;
    width: 170px;
 }
 .LandingButton{
    padding: 8px 30px 8px 30px;
 }
}