.cardContanier{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card img{
    width: 300px;
}
@media(max-width:767px){
    .card img{
        width: 150px;
    }
    .card p{
        font-size: 15px;
    }
}
