

.cardContanier{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 16px;
}
.cardContanier img{
    width: 420px;
}
.card{
    position: relative;
}
.card div{
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;

}
.absoluteDiv h1{
    color: white;
    font-weight: 300;
}
.absoluteDiv p{
    color: black;
    font-weight: 300;
    background-color: white;
    padding: 10px 35px 10px 35px;
    text-align: center;
}
@media(max-width:767px){
    .cardContanier img{
        width: 160px;
    }
    .cardContanier{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 16px;
    }
    .absoluteDiv h1{
        font-size: 16px;
    }
    .absoluteDiv p{
        font-size: 12px;
        padding: 2px 4px 2px 4px;
    }
    .card div{
        position: absolute;
        top: 35%;
        left: 15%;
        text-align: center;
    }
}

@media(max-width:1380px){
    .cardContanier img{
        width: 300px;
    }
    .cardContanier{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
    }
    .absoluteDiv h1{
        font-size: 22px;
    }
    .absoluteDiv p{
        font-size: 22px;
        padding: 3px 5px 3px 5px;
    }
    .card div{
        position: absolute;
        top: 35%;
        left: 15%;
        text-align: center;
    }
}
