.blogContanier{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-basis: 300px;
}
.buttom{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px 25px 10px 25px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}