.scrollingtextcontainer {
    width: 100%;
    height: 40px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
  }
  
  .scrollingtext {
    position: absolute;
    white-space: nowrap;
    animation: scrollText 10s linear infinite; /* Adjust timing as needed */
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  @media(max-width:767px){
    .scrollingtext{
        animation: scrollText 15s linear infinite; /* Adjust timing as needed */
    }
  }