.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.TextConatnier{
    padding: 50px;
    width: 400px;
}

.text{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
}
.name{
    font-size: 18px;
}
.imgContanier{
    width: 400px;
}
.imgContanier img{
    width: 100%;
}

@media(max-width:767px){
    .text{
        font-size: 10px;
    }
    .name{
        font-size: 8px;

    }
} 