.card{
    padding: 0 180px 0px 180px;
}
@media(max-width:767px){
    .card{
        padding: 0 0px 0px 0px;

    }
}

.imgContanier{
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-top: 15px;
}

@media(max-width:767px){
    .imgContanier{
        width: 200px;
    }

}