.CardContanier{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}


@media(max-width:767px){
    .CardContanier img{
        width: 100px;
    }
    .CardContanier p{
       font-size: 12px;
    }
    .CardContanier{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 16px;
    }
}